.first-container{
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.main-heading{
    display: flex;
    grid-area: 1/1/2/2;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #27374D;
}
.paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/1/3/2;
}
.para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #526D82;
}
.profile-card{
    display: flex;
    justify-content: center;   
    grid-area: 1/2/3/3;
}
.first-container{
    margin-left: 50px;
}
.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}
.second-heading{
    font-family: 'Times New Roman', Times, serif;
    color: #27374D;
    padding-top: 100px;
    padding-bottom: 85px;
}
.px-5{
    font-family: 'Times New Roman', Times, serif;
    color: #526D82;
    padding-top: 80px;
    text-align: center;
}
.third-container{
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.second-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/1/2/3;
}
.development-image{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/1/3/2;
}
.web-development{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 2/2/3/3;
    border-radius: 50px;
}
.communication-image{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3/1/4/2;
}
.communication-skill{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 3/2/4/3;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
.fourth-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.body{
    background-image: url("./water_fall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
